@import url('../../app/globals.css');

.wrapper-table{
    width: 100%;
}
.body-table{
    text-align: center;
}

.lines-table,td{
    padding: 8px;
    margin: 8px;
}
td{
    border-bottom: 1px  solid #ead;
    transition: 200ms ease-in-out;
    &:hover{
        border-color:rgb(223, 25, 173);
    }
}

.name-coin{
    font-weight: 300;
}

.notice{
    background: #b10404;
    margin: 8px;
    padding: 8px;
    border-radius: 15px;
}